*{
    margin: 5px;
    text-align: center;
    font-family: sans-serif;
}

.container{
    border: 1px solid #ddd;
    background: lightblue;
}

.header{
    margin: 5px;
    background: slateblue;
}