*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: arial;
}

.container{
    background: lightblue;
    width: 80%;
    margin: 20px auto;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.33)
}

.header{
    background: lightseagreen;
}

.section{
    padding: 10px;
}